body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
  }
  
  header {
    padding: 1%;
  }
  
  .logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
 
  .logo {
    height: 60px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 5em;
  }
  
  nav a {
    color: #000000;
    text-decoration: none;
  }

  main {
    padding: 1em;
  }
    
  .banner-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .banner {
    width: 100%;
  }
  
  .banner-text {
    position: absolute;
    left: 5%;
    color: white;
    max-width: 500px;
  }
  
  .boton {
    display: inline-block;
    padding: 0.75em 1.5em;
    background-color: #800000;
    color: #fff;
    text-decoration: none;
    margin-top: 1em;
    border-radius: 5px;
  }
  
  .productos {
    display: flex;
    gap: 14%;
  }
  
  .productos article {
    width: 200px;
    text-align: center;
  }
  
  .productos img {
    width: 100%;
    height: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
  }
  
  table, th, td {
    border: 1px solid #333;
  }
  
  th, td {
    padding: 0.5em;
    text-align: center;
  }
  
  
  form {

    display: flex;
    flex-direction: column;
    gap: 0.50em;
  }
  
  label {
    font-weight: bold;
  }
  
  input, select, button {
    padding: 0.5em;
    font-size: 1em;
  }
  
  button {
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em;
  }
  